/* Stile per il contenitore della checkbox dei termini */
.termsContainer {
  margin-top: 16px;
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

/* Stile per la checkbox */
.checkbox {
  margin-right: 8px;
}

/* Stile per il link ai termini */
.termsLink {
  text-decoration: underline;
  color: #0070f3; /* Colore tipico dei link */
}

.termsLink:hover {
  text-decoration: none;
}
